* {
 box-sizing: border-box;
}
body {
 margin: 0;
}
.section {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 text-align: center;
 width: 100%;
 /* display: table; */
}
.wrap-block {
 color: #ffffff;
 text-shadow: 
		-0   -4px 0   #000000,
		 0   -4px 0   #000000,
		-0    4px 0   #000000,
		 0    4px 0   #000000,
		-4px -0   0   #000000,
		 4px -0   0   #000000,
		-4px  0   0   #000000,
		 4px  0   0   #000000,
		-1px -4px 0   #000000,
		 1px -4px 0   #000000,
		-1px  4px 0   #000000,
		 1px  4px 0   #000000,
		-4px -1px 0   #000000,
		 4px -1px 0   #000000,
		-4px  1px 0   #000000,
		 4px  1px 0   #000000,
		-2px -4px 0   #000000,
		 2px -4px 0   #000000,
		-2px  4px 0   #000000,
		 2px  4px 0   #000000,
		-4px -2px 0   #000000,
		 4px -2px 0   #000000,
		-4px  2px 0   #000000,
		 4px  2px 0   #000000,
		-3px -4px 0   #000000,
		 3px -4px 0   #000000,
		-3px  4px 0   #000000,
		 3px  4px 0   #000000,
		-4px -3px 0   #000000,
		 4px -3px 0   #000000,
		-4px  3px 0   #000000,
		 4px  3px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000,
		-4px -4px 0   #000000,
		 4px -4px 0   #000000,
		-4px  4px 0   #000000,
		 4px  4px 0   #000000;
}